In [1]:
import requests
import re
from bs4 import BeautifulSoup as BS
from IPython.core.display import HTML
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Read in Data

In [2]:
# movie = pd.read_csv("../Data/IMDb_Movies.csv")

In [3]:
# score = pd.read_csv("../Data/IMDb_Score.csv")

In [4]:
# rt = pd.read_csv("../Data/Rotten_Tomatoes.csv")

### How do the Top 250 Movies by IMDb compare to Rotten Tomatoes?

#### What is the average rating by genre for both IMDb and Rotten Tomatoes?

#### Which movies won the most awards? Did they receive a high rating on IMDb? What about Rotten Tomatoes?

#### On which site do more people tend to leave more reviews?

### Further Analysis

#### What is the most prevalent genre?

#### What is the average length of the movies?

The longest movie?

The shortest movie?

#### What is the average movie rating?

#### What percentage of movies were "approved" with the Hayes Coded compared to newer movies with the MPAA modern rating system?

#### What is the range of years of the movies in the Top 250 List?

Are there outliers?

What decade were most films released in?

#### Which directors appear more than once?

#### What is the average difference between critics' scores and audiences' scores on Rotten Tomotatoes?

#### How do US-reviewers compare to non-US reviewers on IMDb?

Who tends to write more reviews?

What is the average scores between the two?

What genre interests US-reviewers more? What about non-US reviewers?

NOTE: important to note that the term US and non-US is based on the country the reviewer left the review...does not necessarily indicate that reviewers' citizenship

#### How many movies are a part of the same cinematic "universe"?

#### Do the movies on the Top 250 List tend to be nominated for several awards (i.e., more than 5)?

#### Which distributor has been a part of the most movies in the Top 250 Movie List?

# Potential Code for genres later on

In [5]:
from collections import Counter

In [6]:
lst = ['crime','adventure, crime, fanstasy', 'drama', 'thriller, crime', 'crime, action', 'drama, fanstasy']

# for x in lst:
#     counts = Counter(re.findall(r'\S*\W*crime\W*\S*',lst[]))
# counts

In [20]:
lst1 = {'genre' : ['crime','adventure, crime, fanstasy', 'drama', 'thriller, crime', 'crime, action', 'drama, fanstasy'],
       'movie' : ['harry potter', 'lord of the rings', 'percy jackson', 'hobbit', 'game of thrones', 'house']}

# counts = Counter(lst)
# count_crime2 = counts[r'\S*\W*crime\W*\S*']

In [22]:
lst_df = pd.DataFrame(lst1)
lst_df

                        genre              movie
0                       crime       harry potter
1  adventure, crime, fanstasy  lord of the rings
2                       drama      percy jackson
3             thriller, crime             hobbit
4               crime, action    game of thrones
5             drama, fanstasy              house

In [17]:
print(lst_df)

None

In [23]:
lst_df[lst_df['genre'].str.contains('crime', na=False)]

                        genre              movie
0                       crime       harry potter
1  adventure, crime, fanstasy  lord of the rings
3             thriller, crime             hobbit
4               crime, action    game of thrones